@font-face {
  font-family: 'MarvelRegular';
  src: local('MarvelRegular'), url(fonts/MarvelRegular.ttf) format('truetype');
}
@font-face {
  font-family: 'Axiforma';
  font-weight: bold;
  src: local('Axiforma'), url(fonts/AxiformaBold.otf) format('opentype');
}

@font-face {
  font-family: 'Axiforma';
  font-weight: lighter;
  src: local('Axiforma'), url(fonts/AxiformaLight.otf) format('opentype');
}
@font-face {
  font-family: 'Axiforma';
  font-weight: normal;
  src: local('Axiforma'), url(fonts/AxiformaMedium.otf) format('opentype');
}
